


/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

#03696f
#d92b2c
*/


$light:                            rgba(2, 104, 111, 0); !default;
$button-light-background:          rgba(2, 104, 111, 0); !default;

$calm:                            #f3e5e5 !default;
//$button-calm-text:                rgba(2, 104, 111, 1); !default;
$button-calm-text:                #6f0202 !default;

$stable:                          #6f0202 !default;
$button-stable-text:              #b2c0cb !default;

//$positive:                        #6f0202 !default;
$positive:                        #d92b2c !default;


$base-background-color:           #fdfdfd !default;
$base-color:                      #6f0202 !default;


$menu-bg:                      #f3e5e5 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


