<ion-view view-title="Doctor details">
    <ion-content>
        <h1>{{doctor.name}}</h1>
        <div class="list card ">
            <div class="item item-avatar item-calm">
                <!-- <img src="mcfly.jpg"> -->
                <h2>{{doctor.qlfcn}}</h2>
                <!-- <p>{{doctor.qlfcn}}</p> -->
            </div>
            <div class="item item-body item-calm">
                <img class="full-image" src="{{doctor.image}}">
                <p>
                    {{doctor.fullDesc}}
                </p>
                <p>
                    <a class="item item-icon-left item-calm" ng-click="increaseLikes()" style="color:#ef473a">
                        <i class="icon ion-ios-heart"></i> {{doctor.rcmnds}} recommendations.
                    </a>
                </p>
                <p>
                    <label class="item item-input item-calm">
                        <span class="input-label" >Select Time</span>
                        <input type="datetime-local" placeholder="Date" ng-model="dateInput.aptmntdt">
                    </label>
                </p>
                <p>
                    <button class="button button-block button-positive" ng-click="bookAppointment()">book appointment</button>
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
