<ion-view view-title="Doctors list">
    <ion-content>
        <ion-list>

            <div class="list card" ng-repeat="Doctorlist in Doctorlists" href="#/app/doctorPage/{{Doctorlist.id}}" ng-click="toDetails($index)">
                <div class="item item-avatar item-calm">
                    <img src="{{Doctorlist.img}}">
                    <h2>{{Doctorlist.name}}</h2>
                    <p>{{Doctorlist.qlfcn}}</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
