<ion-view view-title="Login">
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item">
                        <center>
                            <!-- <img src="/img/logo_small.png" /> -->
                            <img src="/img/logo_large.png" style="width: 100%;height: 100%;"/>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-page" ng-hide="isReplyFormOpen" ng-init="isReplyFormOpen = false">
            <div class="list">
                <label class="item item-input  item-calm">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.userid">
                </label>
                <label class="item item-input  item-calm">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item  item-calm">
                    <button class="button button-block button-positive" ng-click="doLogin()">Log in</button>
                </label>
                <label class="item  item-calm">
                    <button class="button button-block button-positive" ng-click="isReplyFormOpen = !isReplyFormOpen">Register , I am new !</button>
                </label>
            </div>
        </div>
        <div class="register-page" ng-hide="!isReplyFormOpen">
            <div class="list">
                <label class="item item-input  item-calm">
                    <span class="input-label">Name</span>
                    <input type="text" ng-model="loginData.name">
                </label>
                <label class="item item-input  item-calm">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="loginData.userid">
                </label>
                <label class="item item-input  item-calm">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="loginData.password">
                </label>
                <label class="item item-input  item-calm">
                    <span class="input-label">Confirm Password</span>
                    <input type="password" ng-model="loginData.cpassword">
                </label>
                <label class="item item-input  item-calm">
                    <span class="input-label">Code</span>
                    <input type="text" ng-model="loginData.cd">
                </label>
                <label class="item  item-calm">
                    <button class="button button-block button-positive" ng-click="register()">Register</button>
                </label>
                <label class="item  item-calm">
                    <button class="button button-block button-positive" ng-click="isReplyFormOpen = !isReplyFormOpen">I have login. </button>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
