<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-positive">
            <h1 class="title" style="color:white;">Left</h1>
        </ion-header-bar>
        <ion-content style="background-image: url('/img/leftPanel_1.jpg');">
            <ion-list>
                <ion-item menu-close href="#/app/search" class="item-calm" style="background: rgba(255, 0, 0, 0);">
                    Search
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
