<ion-view view-title="Search">
    <ion-content>
        <h1>Search</h1>
        <div class="list">
<!-- 
            <label class="item item-input item-floating-label item-calm">
                <span class="input-label">Doctor Name</span>
                <input type="text" placeholder="Doctor Name" ng-model="searchData.name">
            </label>
             -->
            <label class="item item-input  item-select item-calm">
                <span class="input-label">City Name</span>
                <!-- <input type="text" placeholder="City Name" ng-model="searchData.ct"> -->
                <select name="city" id="city" ng-model="searchData.ct"  ng-change="cityChanged($index)">
                    <option ng-repeat="city in searchDataHelpers.ct track by $index" value="{{city}}"  >{{city}}</option>
                </select>
            </label>
            <label class="item item-input item-calm item-select">
                <span class="input-label">Location Name</span>
                <select name="singleSelect" id="singleSelect" ng-model="searchData.lcn">
                    <option ng-repeat="location in searchDataHelpers.lcn track by $index" value="{{location}}" " >{{location}}</option>
                </select>
            </label>
            <label class="item item-input item-calm item-select">
                <span class="input-label">Treatment</span>
                <select name="singleSelect" id="singleSelect" ng-model="searchData.trtmnt">
                    <option ng-repeat="trtmnt in searchDataHelpers.trtmnt track by $index" value="{{trtmnt}}" " >{{trtmnt}}</option>
                </select>
            </label>
            
            <label class="item item-input item-floating-label item-calm ">
                <button class="button button-block button-positive" ng-click="searchDoctors()">
                    Search
                </button>
            </label>
        </div>
        <div ng-show="Doctorlists.length == 0">
            No matching results found.
        </div>
        <ion-list>
            <div class="list card" ng-repeat="Doctorlist in Doctorlists" href="#/app/doctorPage/{{Doctorlist.id}}" ng-click="toDetails($index)">
                <div class="item item-avatar item-calm">
                    <img src="{{Doctorlist.image}}">
                    <h2>{{Doctorlist.name}}</h2>
                    <p>{{Doctorlist.qlfcn}}</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
